asgiref==3.5.0
boto3==1.20.23
botocore==1.23.23
dj-database-url==0.5.0
Django==4.2.4
django-heroku==0.3.1
django-storages==1.11.1
djangorestframework==3.13.1
gunicorn==21.2.0
jmespath==0.10.0
Pillow==10.2.0
psycopg2==2.10.2
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2021.3
s3transfer==0.5.0
six==1.16.0
sqlparse==0.4.2
typing-extensions==4.0.1
urllib3==1.26.7
whitenoise==6.0.0
