.build-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    color: white;
}

.build-page p {
    font-size: 32px;
    font-weight: bold;
    color: white;
}
