.Login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  flex-direction: column;
  gap: 2rem;
}

.login-btn,
.guest-btn {
  font-family: 'Fira Mono', monospace;
  font-size: 2rem;
  color: white;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background: linear-gradient(135deg, #33FFFF 0%, #9933FF 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.login-btn:hover,
.guest-btn:hover {
  background: darkgray;
}
